{% extends "base.html" %}

{% block content %}

<h3>Patients</h3>

<form method="GET" action="/patients" class="mb-3">

    <input class="form-control" name="search" placeholder="Search patient">

</form>

<a class="btn btn-primary mb-3" href="/patients/add">Add Patient</a>

{% for p in patients %}

<div class="card p-2 mb-2">

    <div>
        <b>{{ p.name }}</b> |
        {{ p.age }} |
        {{ p.gender }} |
        {{ p.phone }}
    </div>

    {% if session.role == "admin" %}
    <div>
        <a class="btn btn-sm btn-warning" href="/patients/edit/{{ p.id }}">Edit</a>
        <a class="btn btn-sm btn-danger" href="/patients/delete/{{ p.id }}">Delete</a>
    </div>
    {% endif %}

</div>

{% endfor %}

{% endblock %}