{% extends "base.html" %}

{% block content %}

<h2>Add Appointment</h2>

<form method="POST">

    <label>Patient</label>
    <br>

    <select name="patient_id">

        {% for p in patients %}
            <option value="{{ p.id }}">
                {{ p.name }}
            </option>
        {% endfor %}

    </select>

    <br><br>

    <label>Doctor</label>
    <br>

    <select name="doctor_id">

        {% for d in doctors %}
            <option value="{{ d.id }}">
                {{ d.name }}
            </option>
        {% endfor %}

    </select>

    <br><br>

    <input name="date" placeholder="Date">
    <br><br>

    <input name="reason" placeholder="Reason">
    <br><br>

    <button type="submit">Create</button>

</form>

{% endblock %}